*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  border: 1px solid;
  width: 300px;
  padding: 0.2rem;
}

#display{
  font-size: 1.2rem;
  padding: 0.2em 0.5em;
  margin: 0.2em 0;
  width: 100%;
  font-size: 1rem;
}

.button-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem 0.1rem;
}

.btn{
  font-size: 1rem;
  padding: 0.2em 0.2em;
}

#equal-btn{
  grid-column: span 2;
}

#clear-btn{
  grid-column: span 2;
}